@page
@model IndexModel
@{
    ViewData["Title"] = "Вас приветствует лучший сервис по аренде электроинструментов SuperTools";
}

<div class="text-center">
    <h1 class="display-4">Вас приветствует лучший сервис по аренде электроинструментов SuperTools!</h1>
    <h2>Немного о нас:</h2>
    <p>Работаем с 2023 года в сфере аренды электроинструментов и уже имеем сотни довольных клиентов, потому что у нас помимо низких цен ещё и качественные интструменты! </p>
    <style>
        h1{
            color: red;
        }
        div.text-center{
            height: 700px;
            background-image: url(https://tomsk-tr.gazprom.ru/d/story/66/145766/dsc04967.jpg);
            background-size: cover;
        }
        h2{
            position: absolute;
            top: 322px;
            right: 218px;
            color: gold;
            font-size: 40px;
        }
        p{
            max-width: 200px;
            max-height: 200px;
            position: absolute;
            right: 257px;
            top: 378px;
            color: gold;
            font-size:20px;
        }
    </style>
</div>
